In [1]:
import json
import pandas as pd
import os
import glob
from tqdm import tqdm
import re
from pandas.io.json import json_normalize
from datetime import datetime
import numpy as np

In [2]:
adam = pd.read_csv('adam_summary.csv')
pete = pd.read_csv('pete_summary.csv')
jason = pd.read_csv('jason_summary.csv')
jeremy = pd.read_csv('jeremy_summary.csv')

In [3]:
all_overview = pd.concat([adam, pete, jason, jeremy], axis = 0)
all_overview

,Unnamed: 0,day,name,total_distance,avg_pace,duration
0,0,2016-02-15,Adam Kimble,55.62,14.216667,790
1,1,2016-02-16,Adam Kimble,19.13,16.350000,335
2,2,2016-02-17,Adam Kimble,58.57,13.908333,793
3,3,2016-02-18,Adam Kimble,36.26,15.416667,558
4,4,2016-02-19,Adam Kimble,48.62,18.833333,765
5,5,2016-02-20,Adam Kimble,40.17,18.025000,729
6,6,2016-02-21,Adam Kimble,30.05,17.875000,556
7,7,2016-02-22,Adam Kimble,39.77,16.833333,669
8,8,2016-02-26,Adam Kimble,41.20,14.716667,606
9,9,2016-02-27,Adam Kimble,50.09,15.433333,772
10,10,2016-02-28,Adam Kimble,38.32,15.600000,597
11,11,2016-02-29,Adam Kimble,47.39,13.733333,651
12,12,2016-03-01,Adam Kimble,50.07,12.066667,603
13,13,2016-03-02,Adam Kimble,47.02,13.766667,647
14,14,2016-03-03,Adam Kimble,43.12,13.266667,572
15,15,2016-03-04,Adam Kimble,45.68,21.150000,966
16,16,2016-03-05,Adam Kimble,39.44,16.866667,665
17,17,2016-03-06,Adam Kimble,36.06,18.291667,642
18,18,2016-03-07,Adam Kimble,41.62,14.800000,615
19,19,2016-03-09,Adam Kimble,43.32,13.900000,602
20,20,2016-03-10,Adam Kimble,38.22,16.533333,632
21,21,2016-03-11,Adam Kimble,42.86,15.000000,643
22,22,2016-03-12,Adam Kimble,42.23,16.966667,716
23,23,2016-03-13,Adam Kimble,45.07,19.583333,883
24,24,2016-03-14,Adam Kimble,24.68,17.650000,426
25,25,2016-03-15,Adam Kimble,50.19,13.800000,692
26,26,2016-03-16,Adam Kimble,50.30,13.550000,681
27,27,2016-03-17,Adam Kimble,50.41,12.583333,634
28,28,2016-03-18,Adam Kimble,50.11,12.900000,646
29,29,2016-03-19,Adam Kimble,50.14,14.466667,725
...,...,...,...,...,...,...
28,28,2016-05-17,Jeremy Bradford,50.01,11.666667,583
29,29,2016-05-18,Jeremy Bradford,57.20,12.333333,705
30,30,2016-05-19,Jeremy Bradford,54.39,12.633333,687
31,31,2016-05-20,Jeremy Bradford,51.11,12.133333,620
32,32,2016-05-21,Jeremy Bradford,50.27,12.733333,639
33,33,2016-05-22,Jeremy Bradford,51.08,12.733333,650
34,34,2016-05-23,Jeremy Bradford,49.44,12.850000,635
35,35,2016-05-24,Jeremy Bradford,41.12,13.500000,555
36,36,2016-05-25,Jeremy Bradford,50.57,13.016667,657
37,37,2016-05-26,Jeremy Bradford,36.66,13.100000,479
38,38,2016-05-27,Jeremy Bradford,51.53,11.150000,574
39,39,2016-05-28,Jeremy Bradford,53.95,12.350000,666
40,40,2016-05-29,Jeremy Bradford,40.46,12.850000,519
41,41,2016-05-30,Jeremy Bradford,55.66,11.500000,640
42,42,2016-05-31,Jeremy Bradford,73.35,12.091667,884
43,43,2016-06-01,Jeremy Bradford,38.79,14.155556,534
44,44,2016-06-02,Jeremy Bradford,58.70,10.966667,643
45,45,2016-06-03,Jeremy Bradford,38.92,12.958333,515
46,46,2016-06-04,Jeremy Bradford,50.39,11.516667,580
47,47,2016-06-05,Jeremy Bradford,51.48,12.616667,649
48,48,2016-06-06,Jeremy Bradford,55.75,11.566667,644
49,49,2016-06-07,Jeremy Bradford,52.96,11.850000,627
50,50,2016-06-08,Jeremy Bradford,52.91,16.433333,869
51,51,2016-06-09,Jeremy Bradford,53.70,12.750000,685
52,52,2016-06-11,Jeremy Bradford,56.15,12.916667,724
53,53,2016-06-12,Jeremy Bradford,55.04,13.116667,721
54,54,2016-06-13,Jeremy Bradford,50.06,12.600000,630
55,55,2016-06-14,Jeremy Bradford,95.89,14.333333,1375
56,56,2016-06-15,Jeremy Bradford,56.31,11.966667,673
57,57,2016-06-16,Jeremy Bradford,31.46,12.300000,387

In [4]:
all_overview.to_csv("combined_overview.csv")